ul li a{
  text-decoration: none;
  font-size: 18px;
  color: rgb(14, 14, 104);
  border: 2px solid rgb(20, 100, 150);
  background-color: rgb(40, 67, 130);
  color: aliceblue;
}
h1{
  text-align: center;
  background-color: darkblue;
  color: aliceblue;
  margin: 0%;
}
.nav li{
  list-style-type: none;
}
.navbar ul {
  display: flex;
  background-color: rgb(139, 188, 233);
  margin: 0;

}
nav{
  text-align: right;
}

nav ul li{
  padding: 10px;
  padding-left: 10px;
}
