*{
  margin: 0%;
  /* padding: 0%; */
}

form
{
  border: 2px solid black;
  text-align: center;
  font-size: 18px;
  background:linear-gradient(rgb(121, 121, 220),rgb(64, 64, 108),rgb(121, 121, 220));

}
p
{
  text-align: center;
  font-size: 18px;
  color: navy;
  background-color: lightblue;
}
button{
  size: 20px;
  background-color: cornsilk;
}
